/* Define Body styling  */
body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	display: block;
	text-align: center;
}

/* Make player fill outer div */
.video-js {
	height: 100%;
	width: 100%;
}

/* Build outer div size of player */
.outer {
	display: block;
	width: 610px;
	height: 344px;
	position: relative;
	margin: 0 auto;
	padding: 0 50px 50px 50px;
}

/* Style inner div to center button */
.inner {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.adEmbed {
	display: block;
	position: relative;
	margin: auto;
}

/* Question 6 - Enlarge Player on Mouseover */

/* Initial styles for the player wrapper */
#playerWrapper {
	width: 272px;
	height: 153px;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* Question 7 - Lightbox */

/* position the div which contains the video still image and the lightbox player */
.lightbox-player-block {
	position: relative;
}
/* styles for the lightbox player, including transitions to show and hide */
#playerLightbox {
	/* position: absolute;
	top: 0;
	left: 0; */
	padding: 0;
	margin-left: 0;
	color: white;
	text-align: center;
	background-color: #333;
	border-radius: 5px;
	z-index: 20;
	overflow: hidden;
	-webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	/* easeInOutQuad */
}
/* show the player */
.playerShow {
	width: 530px;
	height: 350px;
	padding: 10px;
	-webkit-box-shadow: 5px 5px 5px 5px rgba(151, 151, 151, 0.7);
	box-shadow: 5px 5px 5px 5px rgba(151, 151, 151, 0.7);
}
/* hide the player */
.playerHide {
	width: 0;
	height: 0;
	padding: 0;
}
/* style the close button for the lightbox player */
.playerClose {
	text-align: right;
	margin-top: 5px;
	text-decoration: underline;
	color: #63a7ce;
	width: 90%;
	cursor: pointer;
}

/* style the video poster image */
#lightbox-container {
	position: relative;
	background-color: #090909;
	width: 320px;
	height: 180px;
	padding: 0px;
	border: 1px #999 solid;
	border-radius: 5px;
	cursor: pointer;
}
